<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div class="topnav" id="myTopnav">
    <a href="#home" class="active">Home</a>

    <div class="menu">
        <button class="menubtn">Iphone
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="menu-content">
            <a href="#">Iphone 6s</a>
            <a href="#">Iphone 6s plus</a>
            <a href="#">Iphone 7</a>
        </div>

        <button class="menubtn">SamSung
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="menu-content">
            <a href="#">SamSung Galaxy A8</a>
            <a href="#">SamSung Galaxy S9</a>
            <a href="#">SamSung Galaxy J3</a>
            <a href="#">SamSung Galaxy J7</a>
        </div>

        <button class="menubtn">Oppo
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="menu-content">
            <a href="#">Oppo F3 plus</a>
            <a href="#">Oppo F5</a>
            <a href="#">Oppo A37</a>
        </div>

        <button class="menubtn">Nokia
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="menu-content">
            <a href="#">Nokia 6</a>
            <a href="#">Nokia 8</a>
        </div>

        <button class="menubtn">Asus
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="menu-content">
            <a href="#">Asus Zenfone Max</a>
            <a href="#">Asus Zenfone 4</a>
        </div>

        <button class="menubtn">HTC
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="menu-content">
            <a href="#">HTC One A9</a>
            <a href="#">HTC U Ultra</a>
        </div>

        <button class="menubtn">Sony
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="menu-content">
            <a href="#">Sony Xa1 Ultra</a>
            <a href="#">Sony Xepria Xa1 plus</a>
        </div>

    </div>


















    <div class="iphone">
        <button class="iphonebtn">Iphone
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="iphone-content">
            <a href="#">Iphone 6s</a>
            <a href="#">Iphone 6s plus</a>
            <a href="#">Iphone 7</a>
        </div>
    </div>

    <a href="#about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
</body>
</html>